.message-board {
  margin-top: 40px;
}

.notification {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  padding: 16px 4px;
  margin: 10px 0;
  width: 91vw;
  border-radius: 8px;

  @include min-width(large) {
    width: 47vw;
  }

  h2,
  p {
    display: inline;
  }

  h2 {
    margin-right: 3px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .comment {
    width: 77%;
    @include min-width(large) {

        display: flex;
        justify-items: flex-start;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    max-width: 84%;

    @include min-width(large) {
        width: 83%;
    }

    &-content {
      padding-bottom: 3px;

      .post-topic {
        font-weight: 700;
        color: $darkGrayishBlue;
      }
    }
    &-time {
       
      color: $grayishBlue;
    }
    &-message {
        margin: 14px 0;
        padding: 14px;
        width: 95%;
        border: 1px solid $lightGrayishBlue-2;

    
    }

  }
  .photo {
    margin-right: 3px;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    
  }
}

.unread {
  background: $veryLighGrayishBlue;

    @include min-width(large) {
        width: 100%;
    }


  .info-content {

    p::after {
      content: '\200A'' \2022';
      color: red;
    }
  }

}
