@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

@import './reset';
@import './colors';
@import './media';
@import './header';
@import './notification';

:root {
    font-family: 'Plus Jakarta Sans', sans-serif;;
    font-size: 16px;
    font-weight: 500;

}


body {
    margin: 24px 16px;

    @include min-width(large) {
        background: $veryLighGrayishBlue;
    }
}

h1 {
    display: inline;
    font-size: 20px;
    font-weight: 800;
    color: $veryDarkGrayishBlue;

    @include min-width(large) {
        font-size: 24px;
    }
}

h2 {
    font-size: 14px;
    font-weight: 800;
    color: $veryDarkGrayishBlue;
    
    @include min-width(large) {
        font-size: 16px;
    }
}

button {
    background-color: transparent;
    border-width: 0;
}

button, p {
    font-size: 14px;
    color: $darkGrayishBlue;

    @include min-width(large) {
        font-size: 16px;
    }
}

h2:hover, button:hover {
    color: $blue;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    @include min-width(large) {

        margin: 62px auto;
        padding: 33px;
        width: 48vw;
        background: $white;
    }
}


.attribution { 
    margin-top: 3em;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


